<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab/cheeses"></ion-back-button>
    </ion-buttons>
    <ion-title>Nouveau Fromage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePhoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div style="margin-top: 10px">
    <ion-item>
      <ion-label>Image</ion-label>
      <ion-input type="text" [(ngModel)]="cheese.cheeseImg"></ion-input>
    </ion-item>
    <ion-item *ngIf="cheese.cheeseImg !== ''">
      <img src="{{cheese.cheeseImg}}" alt="Ce lien n'est pas bon...">
    </ion-item>
    <ion-item>
      <ion-label>Nom</ion-label>
      <ion-input type="text" [(ngModel)]="cheese.cheeseName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Lait</ion-label>
      <ion-input type="text" [(ngModel)]="cheese.milk"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Département</ion-label>
      <ion-input type="text" [(ngModel)]="cheese.dpt"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Page wikipédia</ion-label>
      <ion-input type="text" [(ngModel)]="cheese.wiki"></ion-input>
    </ion-item>
  </div>
  <div style="width: 100%; text-align: center; margin-top: 10px">
    <ion-button (click)="add()">Envoyer</ion-button>
  </div>
</ion-content>
