.title{
  font-size: 15px;
}

ion-content{
  --padding-start: 15px;
  --padding-top: 15px;
  --padding-bottom: 15px;
  --padding-end: 15px;
}

.card{
  margin-bottom: 10px;
  text-align: center;
}

.card-title{
  font-size: 15px;
}
